.table-main {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
	& table {
		color: $accent;
		line-height: 1;
		font-size: 20px;
		font-weight: 400;
		@include respond-to('extra-small') {
			font-size: 18px;
		}
		& thead {
			background-color: $orange;
			& th {
				padding: 5px; 
				font-weight: 400;
				border: 4px solid $accent; 
				@include respond-to('small') {
					border: 2px solid $accent;
				}
				@include respond-to('extra-small') {
					min-width: 80px;
				}
				&:first-child {
					width: 35%;
					font-size: 25px;
					@include respond-to('extra-small') {
						font-size: 20px !important;
						min-width: 145px;
					}
				}
				&:nth-child(2) {
					min-width: 130px;
				}
			}
		}
		& tbody {
			background-color: #ffe3c1;
			& tr {}
			& td {
				padding: 5px;
				border-top: 4px solid $accent;
				border-bottom: 4px solid $accent;
				border-left: 4px solid $accent;
				border-right: 4px solid $accent;
				@include respond-to('small') {
					border: 2px solid $accent;
				}
				&.dash {
					border-bottom: 2px dashed $accent;
					border-top: 2px dashed $accent;
				}
			}
			& td.td-with-table {
				padding: 0;
				& table {
					width: 100%;
					min-width: 140px;
					height: 100%;
					& tr {
						border-bottom: 2px dashed $accent;
						& td {
							border: none;
						}
						&:last-child {
							border: none;
						}
					}
				}
			}
		}
	}
}

.td-with-number {
	font-size: 27px;
	@include respond-to('small') {
		font-size: 20px;
	}
}

.td-with-desc {
	// font-size: 18px;
	// font-weight: 400;
}

.bord-top {
	border-top: 4px solid $accent;
	@include respond-to('small') {
		border-top: 2px solid $accent;

	}
}

.bord-bottom {
	border-bottom: 4px solid $accent;
	@include respond-to('small') {
		border-bottom: 2px solid $accent;
	}
}

.td-title {
	font-size: 25px;
	@include respond-to('medium') {
		font-size: 22px;
	}
	@include respond-to('small') {
		font-size: 20px;
	}
}

.td-month {
	font-size: 35px;
	@include respond-to('small') {
		font-size: 30px;
	}
	@include respond-to('extra-small') {
		font-size: 25px;
	}
}